.cart-info-fixed {
  padding-top: 90px;

  .global-wrapper {
    height: auto;
    padding: 19px 15px 22px;
    background: $light-2;
  }

  .btn {
    padding: 16px 30px 14px;
    font-size: 14px;
    line-height: 100%;
  }
}
