.card {
  &-place-list {
    //
  }
  &-place {
    width: 100%;
    height: 130px;
    border: 1px solid #e3edf7;
    border-radius: 16px;
    overflow: hidden;

    &:focus, &:hover {
      text-decoration: none;
    }

    .img-free {
      width: 130px;
    }
    .card-body {
      padding: 18.5px 20px;
      font-size: 10px;
    }
    .card-title {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 600;
      line-height: 100%;
      color: $blue;
      white-space: nowrap;
      max-width: 172px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .rating {
      padding: 0.15em 0.3em;
      font-size: 12px;
      font-weight: 600;
      color: #f2f2f2;
      border-radius: 2px;
    }
    .category {
      color: $blue;
      opacity: 0.6;
    }
    .descr {
      height: 24px;
      max-height: 24px;
      overflow: hidden;
      font-size: 12px;
      line-height: 100%;
      color: #4f4f4f;
      opacity: 0.83;
    }
    .prices {
      padding: 3px 5px;
      font-size: 10px;
      font-weight: 600;
      color: $blue;
      background-color: #f2f2f2;
      border-radius: 2px;
    }
  }

  &-product-category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &-product-category {
    border-radius: 8px;

    &:focus, &:hover {
      text-decoration: none;
    }

    .card-body {
      padding: 10px 14px;
    }
    .card-title {
      font-weight: bold;
      color: $blue;
    }
    .count {
      color: rgba(136, 165, 191, 0.54);
    }
  }

  &-product-list {
    //
  }
  &-product {
    width: 100%;
    height: 130px;
    border: 1px solid #e3edf7;
    border-radius: 16px;
    overflow: hidden;

    &:focus, &:hover {
      text-decoration: none;
    }

    .img-free {
      width: 130px;
    }
    .card-body {
      padding: 15px;
      padding-right: 45px;
    }
    .card-title {
      min-height: 26px;
      max-height: 54px;
      overflow: hidden;
      line-height: 100%;
    }
    .descr {
      font-weight: 200;
      font-size: 10px;
      line-height: 100%;
      white-space: nowrap;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn-product-add {
      position: absolute;
      right: 0;
      top: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
    }
  }

  &-cart-product-list {
    //
  }
  &-cart-product {
    height: auto;
    padding: 15px 0 20px;
    border: none;
    border-bottom: 1px solid #e3edf7;
    border-radius: 0;

    .rounded-circle {
      width: 60px;
      height: 60px;
    }
  }
}
