.header-main {
  position: relative;
  // z-index: 3;
  display: flex;
  align-items: center;
  background-color: $blue;
  padding: 21px 14px 17px;

  .heading-h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #dee8f2;
  }
  .heading-h2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #dee8f2;
  }

  .status {
    position: absolute;
    bottom: 6px;
    right: 8px;
    width: 8px;
    height: 8px;
    animation-duration: 1s;
  }
}

.header-notifs {
  position: absolute;
  top: 90%;
  right: 10px;
  max-width: 290px;
  min-width: 270px;
  z-index: 1035;

  &-inner {
    overflow: hidden;
  }
  &-after {
    position: absolute;
    width: 10px;
    height: 10px;
    background: $primary;
    transform: rotate(45deg) translate(-7px);
    border-top: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    right: 71px;
    top: 0;
  }
  &-overlay {
    bottom: 0;
  }

  &-body {
    max-height: 400px;
    overflow: auto;
  }

  &-item {
    border-bottom: 1px solid rgba($primary, 0.15);
    &:hover {
      background-color: rgba($primary, 0.1);
    }
    &:last-of-type {
      border-bottom: none;
    }

    > a {
      padding: 10px 8px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &-status {
    transition-duration: 1.5s;
    transition-delay: 2s;
  }
  &-icon {
    img {
      width: 20px;
    }
  }
  &-content {
    width: 90%;
    width: calc(100% - 34px);
  }
}
