.logo-wrapper {
  .logo-img {
    margin-bottom: -5px;
  }
  .heading-h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: $blue;
  }
  .heading-h2 {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #828282;
  }
}
