html, body {
  min-height: 100vh;
  height: 100%;
}
#app, .global-wrapper {
  height: 100%;
  max-width: 375px;
  margin: auto;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $body-color !important;
}
