
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}


.line-height-1 {
  line-height: 1;
}


.bg-light-1 {
  background-color: $light-1;
}


.opacity-03 {
  opacity: 0.3;
}


.rounded-xl {
  border-radius: 17px;
}
