
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}


.line-height-1 {
  line-height: 1;
}


.letter-spacing-005em {
  letter-spacing: 0.05em;
}
.letter-spacing-010em {
  letter-spacing: 0.1em;
}
.letter-spacing-015em {
  letter-spacing: 0.15em;
}
.letter-spacing-020em {
  letter-spacing: 0.2em;
}


.pre-line {
  white-space: pre-line;
}


.bg-light-1 {
  background-color: $light-1;
}


.opacity-03 {
  opacity: 0.3;
}


.rounded-065rem {
  border-radius: 0.65rem;
}
.rounded-xl {
  border-radius: 17px;
}

.transform-rotate-180deg {
  transform: rotate(180deg);
}
