// Body
$body-bg: #e3edf7;
$body-color: #333;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-famyly-secondary: 'Poppins', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// custom colors
$blue: #31456a;
$purple: #9b51e0;
$red: #eb5757;
$orange: #f2994a;
$yellow: #f2c94c;
$green: #6fcf97;

$light: #e3edf7;

$input-placeholder-color: #bdbdbd;
