
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.m-30 {
  margin: 30px;
}
.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.cursor-pointer {
  cursor: pointer;
}
