.header{
  .navbar {
    background: #FFFFFF;
    padding: 0;
    height: 60px;
    .navbar-brand {
      display: flex;
      width: 256px;
      box-shadow: 1px 4px 12px rgba(106, 106, 106, 0.25);
      .title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #31456A;
        margin: 0;
      }
     .sub-title {
       color: #828282;
       font-family: Gilroy;
       font-style: normal;
       font-weight: 300;
       font-size: 10px;
       margin: 0;
     }
    }
    &-search {
      width: 85%;
      &> div {
        width: 10%;
      }
      form {
        width: 90%;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          padding-left: 40px;
          border-color: transparent;
        }
      }
      &-btn {
        left: 12px;
        top: 18px;
        position: absolute;
      }
    }
  }
}
