.about{
  background: #31456A;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    padding-top: 120px;
    padding-bottom: 125px;
  }
  &__title{
    margin-bottom: 46px;
  }
  &__text{
    font-family: AvenirNextCyr;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.8px;
    &_two{
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      margin: 20px 0 39px 0;
    }
    &_three{
      font-size: 16px;
    }
  }
}
.devices{
  position: relative;
  display: flex;
  align-items: center;

  &__item{
    display: block;
    &_phone-one{
      width: 117%;
      position: absolute;
      left: -32%;
      top: -48%;
      z-index: 3;
      transform: translateY(-48%);
    }
    &_phone-two{
      width: 100%;
      position: absolute;
      top: -48%;
      left: 13%;
      transform: translateY(-48%);
      z-index: 4;
    }
    &_poly-one{
      position: absolute;
      top: -103%;
      left: -10%;
      transform: translateY(-103%);
      z-index: 1;
    }
    &_poly-two{
      position: absolute;
      top: -18%;
      left: 69%;
      z-index: 2;
    }
    &_poly-three{
      position: absolute;
      top: 99%;
      left: 159%;
      transform: translateY(99%);
      z-index: 10;
    }
    &_poly-four{
      position: absolute;
      left: -5%;
      top: -285%;
      z-index: 10;
      transform: translateY(-285%);
    }
  }
}
