.banner{
  background: #f8f8f8 url("/images/img/banner-bg.png") top no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 100vh;
    max-height: 1080px;
    min-height: 720px;
    > * {
      z-index: 1;
    }
  }
  &__item{
    //
  }
  &__suptitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
  }
  &__title{
    font-family: AvenirNextCyr;
    font-style: normal;
    font-weight: 750;
    font-size: 96px;
    line-height: 110%;
  }
  &__text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    margin-top: 20px;
  }
  &__btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > * {
      margin-top: 80px;
    }
  }
  &__img{
    max-width: 130%;
    margin-left: -20%;
    margin-top: 100px;
  }
  &__bg_text {
    position: absolute;
    z-index: -1;
    bottom: 18%;
    left: -160px;
    font-size: 330px;
    font-weight: 800;
    color: #F2F2F2;
  }
}
.play-video{
  display: inline-flex;
  position: relative;
  z-index: 15;
  margin-left: 30px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.26px;
  text-decoration: none;
  color: inherit;
  align-items: center;
  &:hover .play-wrap{
    background: #ccc;
  }
  &:hover .play-text{
    color: #31456A;
    border-bottom: 1px solid rgba($color: #31456A, $alpha: 1.0);
  }
}
.play-wrap{
  position: relative;
  display: inline-block;
  background: #E0E0E0;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 52px;
  padding: 31px;
  margin-right: 15px;
  transition: .2s linear;
  & img{
    position: absolute;
    top: 20px;
    left: 25px;
  }
}
