.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 40px;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
  }
  &__admission{
    display: flex;
    align-items: center;
  }
  &__link{
    display: inline-block;
    padding: 5px 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 1px solid rgba($color: #31456A, $alpha: .0);
    transition: .2s linear;
    &:hover{
      color: #31456A;
      border-bottom: 1px solid rgba($color: #31456A, $alpha: 1.0);
    }
  }
  &__choice_padding{
    margin-right: 63px;
  }
  &__admission_padding{
    margin-right: 32px;
  }
  &__menu{
    display: none;
  }
  &__burger{
    padding: 10px;
  }
  &__nav{
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.9);

    &:target {
      display: flex;
    }
  }
  &__nav_close{
    position: absolute;
    right: 40px;
    top: 35px;
  }
  &__nav_ul{
    li {
      margin: 10px 15px 20px;
    }
  }
}
.active{
  font-weight: 600;
  color: #31456A;
  border-bottom: 1px solid rgba($color: #31456A, $alpha: 1.0);
}
