.mobile{
  &__mob_img_wr {
    display: none;
    position: absolute;
    height: 580px;
    top: -230px;
    width: 100%;
    overflow: hidden;
  }
  &__mob_img {
    position: absolute;
    left: -50%;
    right: -50%;
  }
  &__mob_img img {
    max-width: 80%;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    padding-top: 100px;
    padding-bottom: 170px;
  }
  &__title{
    margin: 9px 0 38px 0;
  }
  &__text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;
    &_black{
      font-family: AvenirNextCyr;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.02em;
      margin-top: 45px;
    }
  }
  &__image{
    &-one{
      position: absolute;
      left: 20%;
      top: -30%;
      z-index: 1;
      transform: translateY(-30%);
    }
    &-two{
      position: absolute;
      left: 0%;
      top: -55%;
      z-index: 2;
      transform: translateY(-55%);
    }
    &-three{
      position: absolute;
      left: 25%;
      top: 19%;
      z-index: 3;
      transform: translateY(19%);
    }
  }
}
