.savetime{
  background: #fff;
  position: relative;
  z-index: 2;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    padding-top: 40px;
    padding-bottom: 60px;
  }
  &__title{
    margin-top: 40px;
  }
  &__text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-top: 39px;
  }
  &__img{
    width: 100%;
    border-radius: 302px;
  }
}
