.savetime{
  background: #fff;
  padding: 21px 0 61px 0;
  position: relative;
  z-index: 2;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    width: 50%;
    padding: 0 30px;
  }
  &__title{
    margin-top: 40px;
  }
  &__text{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-top: 39px;
  }
  &__img{
    width: 100%;
    background: radial-gradient(42.14% 42.14% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url("/image.png");
    border-radius: 302px;
  }
}
