@media (max-width: 1210px){
  .banner{
    &__img{
      max-width: 650px;
      top: -45%;
      transform: translateY(-45%);
    }
  }
  .play-video{
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1024px){
  .text{
    &_title{
    font-size: 40px;
    }
    &_suptitle{
      font-size: 16px;
    }
  }
  .banner{
    &__title{
      font-size: 90px;
    }
  }
  .about{
    &__title{
      margin-bottom: 40px;
    }
    &__text{
      font-size: 16px;
      &_three{
        font-size: 14px;
      }
    }
  }
  .chathistory{
    &__title{
      margin-bottom: 30px;
    }
    &__subtitle{
      font-size: 20px;
    }
    &__text{
      font-size: 16px;
      margin: 22px 0 35px 0;
    }
    &__list{
      & li{
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 785px){
  .text{
    &_title{
    font-size: 26px;
    }
    &_suptitle{
      font-size: 14px;
    }
  }
  .header{
    &__logo{
      font-size: 20px;
    }
    &__choice_padding{
      margin-right: 15px;
    }
  }
  .banner{
    &__img{
      max-width: 550px;
      top: -45%;
      transform: translateY(-45%);
    }
    &__suptitle{
      font-size: 15px;
    }
    &__title{
      font-size: 76px;
    }
    &__text{
      font-size: 16px;
    }
  }
  .about{
    padding: 76px 0;
    &__content{
      width: 100%;
    }
    &__title{
      font-size: 36px;
      margin-bottom: 30px;
    }
    &__text{
      font-size: 14px;
      &_three{
        font-size: 12px;
      }
    }
  }
  .mobile{
    padding: 78px 0 192px 0;
    &__text{
      font-size: 14px;
      &_black{
        font-size: 14px;
      }
    }
  }
  .benefits{
    padding-bottom: 33px;
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      width: 100%;
    }
    &__block{
      padding: 20px 30px;
    }
    &__suptitle{
      font-size: 16px;
    }
  }
  .savetime{
    padding: 21px 0;
    &__text{
      margin-top: 30px;
      font-size: 16px;
    }
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      width: 100%;
    }
  }
  .chathistory{
    padding: 74px 0;
    &__item{
      width: 100%;
    }
    &__list{
      & li{
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .footer{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__contacts{
      width: 100%;
      text-align: center;
      margin: 40px 0;
    }
    &__tel{
      margin-right: 7px;
    }
    &__mail{
      padding-left: 7px;
    }
  }
}
@media (max-width: 575px){
  .header{
    padding-top: 10px;
    &__logo{
      width: 100%;
      margin: 0 auto 15px;
    }
    &__choice{
      margin: 0 auto;
    }
    &__admission{
      width: 100%;
      justify-content: center;
      margin-top: 15px;
    }
  }
  .banner{
    &__item{
      width: 100%;
    }
    &__img{
      display: none;
    }
    &__btns{
      margin-top: 15px;
    }
  }
  .about{
    padding: 36px 0;
  }
  .mobile{
    padding: 38px 0;
    &__item{
      width: 100%;
    }
  }
  .benefits{
    padding-bottom: 0;
  }
  .savetime{
    padding-bottom: 0px;
  }
  .chathistory{
    padding: 24px 0;
  }
  .devices{
    display: none;
  }
}
