@media (max-width: 1350px){
  .container {
    padding: 0 30px;
    overflow: hidden;
  }
}

@media (max-width: 1024px){
  .text{
    &_title{
      font-size: 40px;
    }
    &_suptitle{
      font-size: 16px;
    }
  }
  .banner{
    &__inner {
      height: unset;
      min-height: unset;
    }
    &__title{
      font-size: 90px;
    }
  }
  .play-video{
    margin: 30px 15px 0;
  }
  .about{
    &__title{
      margin-bottom: 40px;
    }
    &__text{
      font-size: 16px;
      &_three{
        font-size: 14px;
      }
    }
  }
  .chathistory{
    &__title{
      margin-bottom: 30px;
    }
    &__subtitle{
      font-size: 20px;
    }
    &__text{
      font-size: 16px;
      margin: 22px 0 35px 0;
    }
    &__list{
      & li{
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 768px){
  .col-1 {
    width: unset;
    padding-right: 0;
  }
  .col-2 {
    width: unset;
  }
  .text{
    &_title{
    font-size: 26px;
    }
    &_suptitle{
      font-size: 14px;
    }
  }
  .header{
    padding-top: 20px;
    &__logo{
      font-size: 20px;
    }
    &__choice{
      display: none;
    }
    &__admission{
      display: none;
    }
    &__menu{
      display: block;
    }
  }
  .devices {
    display: none;
  }
  .banner{
    text-align: center;
    &__inner{
      display: block;
    }
    &__item{
      padding-top: 140px;
      padding-bottom: 70px;
    }
    &__suptitle{
      font-size: 15px;
    }
    &__title{
      font-size: 76px;
    }
    &__text{
      font-size: 16px;
    }
    &__btns{
      display: block;
      > * {
        margin-top: 30px;
      }
    }
  }
  .about{
    text-align: center;
    &__inner{
      display: block;
    }
    &__item{
      padding-top: 80px;
      padding-bottom: 200px;
    }
    &__title{
      font-size: 36px;
      margin-bottom: 30px;
    }
    &__text{
      font-size: 14px;
      &_three{
        font-size: 12px;
      }
    }
  }
  .mobile{
    position: relative;
    text-align: center;
    &__mob_img_wr{
      display: block;
    }
    &__inner{
      display: block;
    }
    &__item {
      padding-top: 300px;
      padding-bottom: 110px;
    }
    &__text{
      font-size: 14px;
      &_black{
        font-size: 14px;
      }
    }
    .devices {
      display: block;
      height: 300px;
    }
    .devices__item {
      transform: unset;
    }
    &__image-one {
      left: 10%;
      height: 100%;
    }
    &__image-two {
      top: -40%;
      left: 10%;
      height: 100%;
    }
    &__image-three {
      left: 35%;
      top: 20%;
      height: 50%;
    }
  }
  .benefits{
    text-align: center;
    &__inner{
      display: block;
    }
    &__item {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    &__block{
      padding: 25px 20px 10px;
      text-align: left;
    }
    &__subtitle{
      font-size: 20px;
    }
    &__img{
      margin-left: -30%;
      width: 160%;
    }
  }
  .savetime{
    text-align: center;
    &__inner{
      display: block;
    }
    &__item {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__text{
      margin-top: 30px;
      font-size: 16px;
    }
    &__img{
      margin-bottom: 30px;
    }
  }
  .chathistory{
    text-align: center;
    .devices {
      display: block;
    }
    .devices__item {
      position: relative;
      display: none;
    }
    .chathistory__image-two {
      display: initial;
      left: -30%;
      top: unset;
      transform: unset;
    }
    &__inner{
      display: block;
    }
    &__item {
      padding-top: 0;
      padding-bottom: 60px;
    }
    &__list{
      & li{
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .footer{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__contacts{
      width: 100%;
      text-align: center;
      margin: 40px 0;
    }
    &__tel{
      margin-right: 7px;
    }
    &__mail{
      padding-left: 7px;
    }
  }
}
@media (max-width: 425px){
  .header{
    .text-color_title {
      display: none;
    }
  }
}
