.finance-page {
  &__total-price-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #31456A;
    margin: 0;
  }
  &__total-price {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #31456A;
  }
  &__see-all-statistics {
    font-weight: 500;
    font-size: 14px;
    a {
      color: #109CF1;
    }
  }
  &__total-result {
    color: #4F4F4F;
    font-weight: 500;
    font-size: 14px;
    &__status {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: #FFFFFF;
      border-radius: 50%;
    }
    &__price {
      font-weight: 500;
      font-size: 18px;
      color: #31456A;
    }
    &__title {
      font-weight: 500;
      font-size: 14px;
      color: #4F4F4F;
      margin: 0;
    }
  }
  &__info {
    font-weight: 500;
    font-size: 12px;
    color: #BDBDBD;
    margin: 11px 70px;
  }
  &__service-info {
    &__content {
      background: #FFFFFF;
      height: 102px;
      border-radius: 16px;
      text-align: center;
      &>div {
        padding-top: 15px;
      }
      h5 {
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        color: #31456A;
      }
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #31456A;
      }
    }
  }
  &__card-list {
    margin-top: 15px;
    &__item {
      padding: 0 22px;
      height: 124px;
      background: #FFFFFF;
      border-radius: 16px;
      &__info {
        &__card-code {
          font-size: 18px;
          line-height: 31px;
          letter-spacing: 0.0878em;
          color: #31456A;
          text-align: left;
          text-shadow: 0px 0.701049px 3px rgba(77, 5, 169, 0.3);
          margin-bottom: 0;
        }
        &__card-name {
          font-size: 14px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #31456A;
          text-align: left;
          text-shadow: 0px 0.701049px 3px rgba(77, 5, 169, 0.3);
        }
      }
      .btn:hover {
        background-color: white;
      }
    }
  }
}
