.login-page {
  padding: 75px 30px 20px;

  .logo-img {
    margin-bottom: -5px;
  }
  .heading-h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #31456a;
  }
  .heading-h2 {
    font-weight: 300;
    font-size: 12px;
    line-height: 100%;
    color: #828282;
  }
  .form-1 {
    margin-top: 65px;
  }
}
